server:
  port: 8080

stripe:
  secret-key: ${STRIPE_SECRET_KEY}
  webhook:
    secret: ${STRIPE_WEBHOOK_SECRET}
  api-version: "2024-06-20"

spring:
  profiles:
    active: dev
  application:
    name: retail

  jpa:
    hibernate:
      ddl-auto: none
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  hikari:
    max-lifetime: 580000
    idle-timeout: 600000
    connection-timeout: 30000

  flyway:
    enabled: true
    clean-disabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true
    repair-on-migrate: true

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      expiration: 8640000

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus"
